<!DOCTYPE html>
<html>

<head>
  <title>Lautapeliseura</title>
</head>

<body>
  {% if session.user_id %}
  <a href="/logout">Kirjaudu ulos</a>
  {% else %}
  <a href="/register">Rekisteröidy</a>
  <p>Kirjaudu sisään</p>
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>
  {% endif %}
</body>

</html>